.header_a {
    height: 100%;

    color: var(--header-text-color);
    font-size: 20px;

    padding: 0 5px;

    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;

    border: 0 solid var(--header-color);

    cursor: pointer;

    user-select: none;
}
.header_a_c {
    height: 100%;
    min-width: 100px;

    padding: 0 50px;

    color: var(--header-text-color);
    font-size: 20px;

    border: 0 solid var(--header-color);

    cursor: pointer;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header_a:hover, .header_a_c:hover {
    background-color: var(--header-current-color);
    color: var(--header-current-text-color);
}