.mineral_base {
    padding: 5px;

    border: 5px solid gray;
    border-radius: 10px;

    font-weight: bolder;
    text-align: center;
    vertical-align: middle;

    user-select: none;
}

.mineral_compact {
    height: 45px;
    width: 45px;
}

.mineral_full {
    max-width: 130px;
    min-width: 45px;
}